.eventCardWrapper {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 350px;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.textHolder {
    text-align: center;
}

.eventBackground {
    height: 150px;
    width: auto;
}

.mapIcon {
    width: 20px;
    height: auto;
}

.clockIcon {
    width: 20px;
    height: auto;
}

.orgLogo {
    height: 20px;
    width: auto;
}