.searchbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: 1px solid black;
    border-radius: 25px;
    width: 300px;
    background-color: #eddada;
}

.search-input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: 25px;
    background: transparent;
}

.search-icon {
    width: 25px;
    height: auto;
    margin-right: 10px;
}
